ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.container {
    width: 400vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
h1, p, a {
    color: white;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    max-width: 400px;
    background: radial-gradient(#1fab71, #13afba);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}